.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.font {
  font-family: "Source Code Pro", monospace;
}

.typewriter p {
  border-right: solid 3px #8b5cf6;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Source Code Pro", monospace;

  color: rgba(0, 0, 0, 0.7);
  margin: 0 auto;
}

.typewriter p {
  animation: animated-text 4s steps(29, end) 1s 1 normal both,
    animated-cursor 600ms steps(29, end) infinite;
  /* animation-iteration-count: infinite; */
}

@keyframes animated-cursor {
  from {
    border-right-color: #8b5cf6;
  }
  to {
    border-right-color: transparent;
  }
}

@media (min-width: 287px) {
  @keyframes animated-text {
    from {
      width: 0;
    }
    to {
      width: 260px;
    }
  }
}

@media (min-width: 320px) {
  @keyframes animated-text {
    from {
      width: 0;
    }
    to {
      width: 170px;
    }
  }
}
@media (min-width: 481px) {
  @keyframes animated-text {
    from {
      width: 0;
    }
    to {
      width: 170px;
    }
  }
}

@media (min-width: 541px) {
  @keyframes animated-text {
    from {
      width: 0;
    }
    to {
      width: 170px;
    }
  }
}

@media (min-width: 641px) {
  @keyframes animated-text {
    from {
      width: 0;
    }
    to {
      width: 170px;
    }
  }
}

@media (min-width: 640px) {
  @keyframes animated-text {
    from {
      width: 0;
    }
    to {
      width: 150px;
    }
  }
}

@media (min-width: 650px) {
  @keyframes animated-text {
    from {
      width: 0;
    }
    to {
      width: 150px;
    }
  }
}
@media (min-width: 768px) {
  @keyframes animated-text {
    from {
      width: 0;
    }
    to {
      width: 170px;
    }
  }
}

@media (min-width: 961px) {
  @keyframes animated-text {
    from {
      width: 0;
    }
    to {
      width: 170px;
    }
  }
}
@media (min-width: 1025px) {
  @keyframes animated-text {
    from {
      width: 0;
    }
    to {
      width: 315px;
    }
  }
}
@media (min-width: 1281px) {
  @keyframes animated-text {
    from {
      width: 0;
    }
    to {
      width: 315px;
    }
  }
}
